@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #555555;
    color: #f0f0f0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    margin: 0px auto;
}

